* {
    margin: 0em;
    padding: 0em;
}

.top-bar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #3A5897; /*#4267B2*/
    height: 2.5em;
    border-bottom: 1px solid rgba(65, 65, 65, 0.8);
}

.bars-container {
    margin: 0px;
    position: absolute;
    top: 50%; /* move top of child 50% down relative to parent's height */
    transform: translateY(-50%); /* move child up 50% of it's own height (now centered w.r.t parent)*/   
}

.bars-container * {
    display: inline-block;
    height: 2em;
    float: left;
    
    
    /*margin-top: 0.25em;
    margin-bottom: 0.25em;*/
}

.bars-container input {
    width: 400px;
}

.bars-container img {
    margin-left: 250px;
    margin-right: 0.5em;
    border: 1px solid black;
}

.search-btn {
    position: relative;
    height: 2.5em;
    width: 4em;
    background-color: #F5F6F7;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.search-icon::before {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.search-form {
    position: relative;
    margin-right: 200px;
}

.search-form input {
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 1em;
}

.links-container a {
    padding-right: 1em;
    padding-left: 1em;
    
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.397);
    height: 12px;
}

.links-container {
    display: inline-block;
    position: relative;
    height: 16px;
    
    transform: translateY(50%);
}

.settings-group {
    margin-left: 1em;
    color: rgb(32, 32, 32);
}

.left-sidebar {
    position: relative;
    width: 300px;
    height: 1000px;
    margin-left: 200px;
    float: left;
}

.feed {
    position: relative;
    width: 500px;
    height: 1000px;
    /*background-color: red;*/
    float: left;
}

.message-bar {
    position: fixed;
    right: 0px;
    width: 250px;
    height: 1000px;
    /*background-color: rgb(96, 111, 133);*/
    border-left: 1px solid gray;
}

body {
    background-color: #E9EBEE;
}

p {
    font-family: sans-serif;
    font-size: 0.8em;
}

.post {
    position: relative;
    margin-top: 1em;
    border-radius: 3px 3px 3px 3px;
    height: 500px;
    background-color: white;
    border-bottom: 1px solid gray;
}

.post-userinfo {
    height: 2em;
    position: relative;
    margin-bottom: 1em;
    display: inline-block;
    margin-top: 0.7em;
}

h4 {
    font-family: sans-serif;
    position: relative;
    float: left;
    color: #4267B2;
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    position: relative;
    float: left;
    margin-right: 25px;
    margin-left: 1em;
}

.message {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid gray;
    position: relative;
}

.message * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.message p {
    left: 80px;
}

.post-userinfo h4 {
    position: relative;
    left: 80px;
    white-space: nowrap;
}

.post-userinfo {
    white-space: nowrap;
}

.pfp-small {
    width: 40px;
    height: 40px;
}

.dot {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(108, 184, 22);
    border-radius: 10px;
}

.post-text {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.left-user {
    background-color: #E9EBEE;
    border: none;
}

.ellipsis * {
    margin-top: 0.7em;
    position: absolute;
    background-color: black;
    height: 5px;
    width: 5px;
    border-radius: 20px;
}

.post-bottom {
    position: absolute;
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(202, 202, 202);
}

.post-comment {
    position: absolute;
    height: 30px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    border-top: 1px solid gray;
}

.post-comment a {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    display: inline;
}

.post-comment a:hover {
    background-color: rgb(217, 217, 217);
}

.post-comment * {
    display: inline;
}

.post-comment i {
    padding-left: 0px;
}

.comments-container {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.num-comments {
    position: absolute;
    right: 10px;
    top: 0.5em;
    font-size: 1em;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.post-react {
    position: relative;
    height: 30px;
    /*background-color: indianred;*/
}

.reactions {
    position: absolute;
    top: 0px;
    left: 1em;
    height: 25px;
    /*width: 25px;*/
    top: 50%;
    transform: translateY(-50%);
}

.post-react .dot {
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background-color: blue;
}

.dot i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.num-reacts {
    position: absolute;
    left: 3.5em;
    top: 50%;
    transform: translateY(-50%);
}